.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginButtonContainer {
	height: 200px;
}

#loginTitleContainer {
	margin: 20px;
	border-radius: 20px;
	border: 5px solid #037006;
	height: 200px;
}

#loginButton {
	background-color: #037006;
	border-color: #037006;
}

#profileBottomLeftContainer {
	display: inline-flex;
	position:bottom;
}

#profilePageLeft{
	margin:20px;
	width:50%;
}

.profilePageButton {
	margin:10px;
}

#profileLogoutButton {
	background-color: red;
	border-color:red;
}

#profilePageRight {
	margin:20px;
	position: right;
}

#profilePage{
	display: inline-flex;
	width:100%;
}

#profileCosmeticsList {
	list-style-type: none;
}

#profileCosmeticsContainer {
	padding:20px;
	border: 5px solid black;
	border-radius: 10px;
	width:120%;
	height:75%;
	display:block;
}

.profileCosmetic {
	padding-top:50px;
}

#shopItemContainer {
	display: block;
	width:100%;
	height:400px;
}

.shopItem {
	display:inline-flex;
	width:33%;
	height:100%;
	
}

.shopItemCard {
	display:block;
	height:95%;
	width: 95%;
	border: 5px solid black;
	border-radius:10px;
}

.shopItemImage{
	width: 50%;
	justify-content: center;
}