{% extends "layout.html" %}

{% block title %}Play{% endblock %}

{% block content %}
	
	
	<!-- All cards are from Richard Schneider's cardJS library on GitHub: https://github.com/richardschneider/cardsJS -->
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/cardsJS/dist/cards.min.css" />

	<script src="https://unpkg.com/cardsJS/dist/cards.min.js" type="text/javascript"></script>
	
	<h1>Play</h1>
	
	<div class="hand active-hand hhand" data-hand="inline-flex: horizontal; spacing: 1.0; width: 90; cards: AS,KS,9H,4C"></div>
	
	<!-- Alternate way to show a hand -->
	<!-- <div class="active-hand hhand"> -->
		<!-- <img class='card' src='static/cards/AS.svg'> -->
		<!-- <img class='card' src='static/cards/KS.svg'> -->
		<!-- <img class='card' src='static/cards/QS.svg'> -->
		<!-- <img class='card' src='static/cards/JS.svg'> -->
		<!-- <img class='card' src='static/cards/10S.svg'> -->
		<!-- <img class='card' src='static/cards/9H.svg'> -->
		<!-- <img class='card' src='static/cards/3H.svg'> -->
	<!-- </div> -->
	
	
	
	<form action="/stop_playing">
		<button type="submit">Exit</button>
	</form>
	<br>
	
	
{% endblock %}
